body/* This is the main body color */  
{
background:#230887;  
}
iframe
{
margin:2px 2px 2px 2px;
}							
nav li/* This is for the nav bar */  
{
font-size:25px;
width:150px;
height:40px;
display:inline;
padding-left:150px;
color:red;
}
nav ol
{
list-style-type:none;
letter-spacing:3px;
}
a
{
text-decoration:none;
color:red;
}
a:hover
{
font-size:28px;
color:yellow;
}
img
{background-color:white;
border-radius:25px;
}
.wrapper/* my main wrapper div for the whole website */  
{
width:1320px;
height:880px;
margin:0 auto;
}
#hsplit
{
width:200px;
height:50px;
padding:20px 20px;
font-size:18px;
font-family:lucida sans;
float:left;
color:blue;
}
#hsplitI
{
width:200px;
height:80px;
padding:9px 5px;
font-size:18px;
float:left;
}
#header/* Header bar for the whole site */ 
{
width:100%;
height:100px;
background:white;
border-radius:25px;
text-align:center;
}
#title
{
width:813px;
height:50px;
padding:20px 20px;
font-size:18px;
float:left;
}
#aside
{
width:600px;
height:860px;
margin:10px 10px 10px 10px;
text-align:center;
padding:10px;
font-size:22.5px;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:yellow;
}
#wrapperI
{
width:700px;
height:880px;
float:left
}
#wrapperII
{
width:620px;
height:880px;
float:left;
}
#footer/* Footer bar for the whole site */ 
{
width:100%;
height:100px;
background:white;
border-radius:25px;
text-align:center;
}
#section
{
height:480px;
width:700px;
border-radius:50px;
}
#article
{
width:700px;
height:390px;
padding:10px;
font-size:20px;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:yellow;
}
.articleblock
{
width:420px;
height:110px;
border-radius:10px;
background:white;
float:right;
margin:5px 5px 5px 5px;
font-size:20px;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:red;
text-align:center;
}
#aboutwrapperI
{
float:left;
padding:20px;
width:320px;
height:840px;
font-size:20px;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:yellow;
text-align:center;
}
#aboutwrapperII
{
width:950px;
height:880px;
float:left;
}
#aboutsection
{
height:480px;
width:960px;
}
#aboutarticle
{
width:960px;
height:390px;
padding:10px;
font-size:21px;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:yellow;
}
.contcwrapperI
{
float:left;
padding:20px;
width:450px;
height:840px;
font-family:cambria;
font-weight:bold;
color:yellow;
font-size:18px;
}
#contcwrapperII
{
float:left;
padding:20px;
width:299px;
height:840px;
}
#tabled
{
width:290px;
height:830px;
}
#currentwrapperI
{
float:left;
padding:20px;
width:550px;
height:840px;
font-size:21px;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:yellow;
text-align:center;
}
#currentwrapperII
{
float:left;
width:690px;
height:840px;
}
#table1
{
font-size:18px;
font-family:cambria;
border-radius:20px;
padding:5px;
text-align:center;
color:yellow;
border:solid 5px;
border-color:yellow;
font-weight:bold
}
#currentwrapperIII
{
height:410px;
width:710px;
font-size:20px;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:yellow;
text-align:center;
}
#currentwrapperIIII
{
margin:auto;
height:460px;
width:710px;
}
#historywrapperI
{
width:1320px;
height:500px;
margin:0 auto;
}
#historywrapperII
{
width:1320px;
height:380px;
margin:0 auto;
text-align:center;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:yellow;
font-size:21px;
}
#div1
{
float:left;
width:600px;
height:500px;
}
#div2
{
float:left;
width:400px;
height:500px;
}
#div3
{
float:left;
width:320px;
height:500px;
}
.tab
{
float:left;
width:250px;
height:50px;
}
#tab1
{
float:left;
width:833px;
height:50px;
text-align:center;
font-family:cambria;
font-weight:bold;
letter-spacing:3px;
color:red;
font-size:18px;
}
